.Mui-selected {
    background-color: rgba(28, 155, 240, 0.39) !important;
}

.topbar {
    display: flex;
    width: 100%;
    background-color: rgb(1, 13, 82);
    color: white;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.formbox {
    display: flex;
    min-height: 100px;
    justify-content: space-evenly;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 29px 0px;
    width: 100%;
}

.formarea {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formdeletearea {
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 29px 0px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}